name: Build and Dockerize App

on:
  push:
    branches:
      - main
    

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout source code
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Set up Node.js
      - name: Set up Docker
        uses: docker/setup-buildx-action@v1
     

      # 3. Build Docker image
      - name: Build Docker image
        run: docker build -t myapp:latest .